##################################################################################################
#This file created by Huy Nguyen
#Updated date: 6/30/2024
##################################################################################################

# Compilation option for all testcase (Not supported yet)
cmp_opts =

# Coverage option: on | off (Not supported yet)
cov = on

# Dump wave option: on | off (Not supported yet)
wave = on

# To check pass condition in log file, format as string 
pass_key_word = "TEST PASSED"

# To check fail condition in log file, format as string 
fail_key_word = "TEST FAILED"

# Set verbosity option for UVM testbench (Not supported yet)
pl = UVM_LOW

tc_list {

    tc11_read_default                  , run_times=1 , run_opts= ;
    tc12_read_write_reserved           , run_times=1 , run_opts= ;
    tc13_bams_read_write_access        , run_times=1 , run_opts= ;
    tc14_bir_read_write_access         , run_times=1 , run_opts= ;
    tc15_bams_byte_access              , run_times=1 , run_opts= ;

    tc21_psel0_fixed_wr                , run_times=1 , run_opts= ;
    tc22_psel1_fixed_wr                , run_times=1 , run_opts= ;
    tc23_psel2_fixed_wr                , run_times=1 , run_opts= ;
    tc24_psel0_fixed_wr_err            , run_times=1 , run_opts= ;
    tc25_psel1_fixed_wr_err            , run_times=1 , run_opts= ;
    tc26_psel2_fixed_wr_err            , run_times=1 , run_opts= ;
    tc27_pselx_fixed_wr_random         , run_times=1 , run_opts= ;

    tc31_psel0_incr_wr                 , run_times=1 , run_opts= ;
    tc32_psel1_incr_wr                 , run_times=1 , run_opts= ;
    tc33_psel2_incr_wr                 , run_times=1 , run_opts= ;
    tc34_psel0_incr_wr_err             , run_times=1 , run_opts= ;
    tc35_psel1_incr_wr_err             , run_times=1 , run_opts= ;
    tc36_psel2_incr_wr_err             , run_times=1 , run_opts= ;
    tc37_psel01_incr_wr_cross          , run_times=1 , run_opts= ;
    tc38_psel12_incr_wr_cross          , run_times=1 , run_opts= ;
    tc39_pselx_incr_wr_random          , run_times=1 , run_opts= ;

    tc41_psel0_wrap_wr                 , run_times=1 , run_opts= ;
    tc42_psel1_wrap_wr                 , run_times=1 , run_opts= ;
    tc43_psel2_wrap_wr                 , run_times=1 , run_opts= ;
    tc44_psel0_wrap_wr_err             , run_times=1 , run_opts= ;
    tc45_psel1_wrap_wr_err             , run_times=1 , run_opts= ;
    tc46_psel2_wrap_wr_err             , run_times=1 , run_opts= ;
    tc47_psel01_wrap_wr_cross          , run_times=1 , run_opts= ;
    tc48_psel12_wrap_wr_cross          , run_times=1 , run_opts= ;
    tc49_pselx_wrap_wr_random          , run_times=1 , run_opts= ;

    tc51_psel0_fixed_rd                , run_times=1 , run_opts= ;
    tc52_psel1_fixed_rd                , run_times=1 , run_opts= ;
    tc53_psel2_fixed_rd                , run_times=1 , run_opts= ;
    tc54_psel0_fixed_rd_err            , run_times=1 , run_opts= ;
    tc55_psel1_fixed_rd_err            , run_times=1 , run_opts= ;
    tc56_psel2_fixed_rd_err            , run_times=1 , run_opts= ;
    tc57_pselx_fixed_rd_random         , run_times=1 , run_opts= ;

    tc61_psel0_incr_rd                 , run_times=1 , run_opts= ;
    tc62_psel1_incr_rd                 , run_times=1 , run_opts= ;
    tc63_psel2_incr_rd                 , run_times=1 , run_opts= ;
    tc64_psel0_incr_rd_err             , run_times=1 , run_opts= ;
    tc65_psel1_incr_rd_err             , run_times=1 , run_opts= ;
    tc66_psel2_incr_rd_err             , run_times=1 , run_opts= ;
    tc67_psel01_incr_rd_cross          , run_times=1 , run_opts= ;
    tc68_psel12_incr_rd_cross          , run_times=1 , run_opts= ;
    tc69_pselx_incr_rd_random          , run_times=1 , run_opts= ;

    tc71_psel0_wrap_rd                 , run_times=1 , run_opts= ;
    tc72_psel1_wrap_rd                 , run_times=1 , run_opts= ;
    tc73_psel2_wrap_rd                 , run_times=1 , run_opts= ;
    tc74_psel0_wrap_rd_err             , run_times=1 , run_opts= ;
    tc75_psel1_wrap_rd_err             , run_times=1 , run_opts= ;
    tc76_psel2_wrap_rd_err             , run_times=1 , run_opts= ;
    tc77_psel01_wrap_rd_cross          , run_times=1 , run_opts= ;
    tc78_psel12_wrap_rd_cross          , run_times=1 , run_opts= ;
    tc79_pselx_wrap_rd_random          , run_times=1 , run_opts= ;

    tc81_wr_rd_random_test             , run_times=1 , run_opts= ;

    tc91_enable_decerr_interrupt       , run_times=1 , run_opts= ;
    tc92_disable_decerr_interrupt      , run_times=1 , run_opts= ;
    tc93_clear_decerr_interrupt        , run_times=1 , run_opts= ;
    tc94_sticky_decerr_interrupt       , run_times=1 , run_opts= ;

    tc101_dynamic_remap_basic          , run_times=1 , run_opts= ;
    tc102_old_region_invalid           , run_times=1 , run_opts= ;
    tc103_runtime_remap                , run_times=1 , run_opts= ;
    tc104_random_remap_stress          , run_times=1 , run_opts= ;
    tc105_burst_cross_after_remap      , run_times=1 , run_opts= ;
    tc106_reserved_region_after_remap  , run_times=1 , run_opts= ;
}
